<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Detail</title>
</head>
<body>
    <a href="/uzivatel/profil_page">Zpět na profil</a>
    <a href="/prispevky/prehled_page">Moje příspěvky</a>
    <h1><%= prispevek.nadpis %></h1>
    <p><%= prispevek.telo %></p>
</body>
</html>